
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MemberShip Types</h2>
<p>@Html.ActionLink("New MemberShip", "New", "MemberShipType", null, new { @class = "btn btn-primary" })</p>
<table id="memberships" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Duration In Months</th>
			<th>Discount Rate</th>
			<th>SignUp Fee</th>
			<th>Delete</th>
		</tr>
	</thead>
</table>
@section scripts{
	<script>
		$(document).ready(function () {
			var table = $("#memberships").DataTable({
				ajax: {
					url: "/api/membershiptypes",
					dataSrc: ""

				},
				columns: [
					{
						data: "name",
					},
					{
						data:"durationInMonths"
					},
					{
						data:"discountRate"
					},
					{
						data: "signUpFee"
					},
					{
						data: "id",
						render: function (data) {
							return "<button class='btn-link js-delete' data-membership-id=" + data + ">Delete</button>";
						}
					},
				],

			});

			$("#genres").on("click", ".js-delete", function () {
				var button = $(this);
				bootbox.confirm("Are you sure you want to delete this Genre ? ", function (result) {
					if (result) {
						$.ajax({
							url: "api/genres/" + button.attr("data-genre-id"),
							method: "DELETE",
							success: function () {
								table.row(button.parents("tr")).remove().draw();
							}

						});
					};

				});

			});
		});
	</script>

}